/* NAVBAR */
header, .navbar {
    background-color: #456AB4;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 95px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

navbar-links a {
    color: #fff;
}

navbar-expand-lg .navbar-nav .nav0link {
    padding: 1rem .8rem;
}


/* css do corpo da pagina*/
body { 
    background-image: url('/img/back.jpg');
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-content: center;
}

/*TITULO DO NAP*/
h1 {
        margin-top: 20px;
        font-size: 25px;
        padding: 15px;
        text-align: center;
}

/*IMAGEM DE LGO DO NAP*/
img{
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: -2%;
    margin-bottom: 2%;
}

/* DIV CENTRAL COM OS BLOCOS*/
.texto {
    margin: auto;
    width: 500px;
    height: 370px;
    border-radius: 54px;
    background-color: #1E2D4B;
    align-items: center;
    
}

.container {
  
    padding: 70px 0;
}

/* INPUTS DE USUARIO E SUAS BORDAS*/
.form-control {
    margin: auto;
    width: 350px;
    border-radius: 0px 40px 40px 0px;
}

/*IMAGENS DE ICONES*/
.usuario {
    background-color: #FAB628;
    display: flex;
    margin-left: 120px;
    align-content: center;
    width: 45px;
    height: 38px;
}

.senha {
    background-color: #FAB628;
    display: flex;
    margin-left: 120px;
    align-content: center;
    width: 45px;
    height: 38px;
}

.usuario .senha img {
    width: 45px;
    height: 45px;
    padding: 0px;
    margin-top: -3px
}

/*BOTÃO DE ACESSAR*/
#botao   {

    margin-top: 20px;
    margin-left: 210px;
    background-color: #456AB4;
    border-radius: 25%;   
}

/*esqueceu a senha*/
.esquecido{

    margin-top: 25px;
    margin-left: 163px;
}
a{
    text-decoration: none;
    color: white;
    margin: auto;
}

a:hover {
    text-decoration: underline;
}

/*Pagina index principal*/

.bg-index {
    background-image: url(/img/apoio_psicologico.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}